# An instantiated service file to start an application in a container.
# Upon termination number of running containers is checked, and if it is zero,
# shutdown is forced.

# Instance structure: containername/executable args

[Unit]

Description=Start an application container without persistent user home directory
After=copy-host-files.service

[Service]

Type=simple
EnvironmentFile=-/etc/vmalwc/environment
EnvironmentFile=-/etc/vmalwc/user_environment
Environment=LANG=en_US.UTF-8
StandardOutput=journal
StandardError=journal
ExecStart=/opt/vmalwc/nspawn "%I"
ExecStopPost=/bin/sh -c 'sleep 5 ; (exit `machinectl list | grep nspawn | wc -l`) && poweroff'
PrivateTmp=true
