# An instantiated service file to start an application in a container

# Instance structure: containername/executable args

[Unit]

Description=Start an application container without persistent user home directory
After=copy-host-files.service

[Service]

Type=simple
EnvironmentFile=-/etc/vmalwc/environment
EnvironmentFile=-/etc/vmalwc/user_environment
Environment=LANG=en_US.UTF-8
StandardOutput=journal
StandardError=journal
ExecStart=/opt/vmalwc/nspawn "%I"
PrivateTmp=true
