# An instantiated service file to start an application in a container

# Instance structure: containername/executable args

[Service]

Type=oneshot
EnvironmentFile=-/etc/vmalwc/environment
EnvironmentFile=-/etc/vmalwc/user_environment
StandardOutput=journal
StandardError=journal
ExecStart=-/opt/vmalwc/premount "%I"
ExecStart=-/opt/vmalwc/dochroot "%I"
ExecStart=-/opt/vmalwc/postumount "%I"

